@model LoginViewModel

<form asp-action="SignUP" method="post">
<input asp-for="Username" placeholder="Username" />
<input asp-for="Password" placeholder="Password" />
<button type="submit">sign in</button> 
</form>